VITE_FIREBASE_API_KEY=AIzaSyCt1GlxVlQb8KAHgWbJnDUBgw6mwQd6ceM
VITE_FIREBASE_AUTH_DOMAIN=black-whole-8aa07.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=black-whole-8aa07
VITE_FIREBASE_STORAGE_BUCKET=black-whole-8aa07.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=712396991083
VITE_FIREBASE_APP_ID=1:712396991083:web:1dc0c78514aa6c2f175f2e
VITE_FIREBASE_MEASUREMENT_ID=G-S1QMT7P4XM
VITE_FIREBASE_VAPID_KEY=BDsSR8UGosCdZyrCxCmBTOaLaIkantq9M2TwGQni_38wEBTypReMLxT_4fvByE6QoSwq-n16tzF3Lesey9SUeMo
VITE_SIGNALING_SERVER_URL=http://localhost:4000
VITE_STUN_URL=stun:stun.l.google.com:19302
VITE_TURN_URL=turn:localhost:3478
VITE_TURN_USERNAME=blackwhole
VITE_TURN_CREDENTIAL=secret123
