PORT=4000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/blackwhole?retryWrites=true&w=majority
FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_CLIENT_EMAIL=your-firebase-admin-sdk-email
FIREBASE_PRIVATE_KEY=your-firebase-admin-private-key
TURN_SECRET=secret123
TURN_SERVER_URL=localhost:3478
CLIENT_ORIGIN=http://localhost:5173
